<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="colum1">
        <a href="{{ url_for('computador.index') }}"><button>ir a computadores</button></a>
    </div>
    <div class="colum1">
        <a href="{{ url_for('tipousuario.index') }}"><button>ir a Tipos de Usuarios</button></a>
    </div>
    <div class="colum1">
        <a href="{{ url_for('usuario.index') }}"><button>ir a Usuarios</button></a>
    </div>
    <div class="colum1">
        <a href="{{ url_for('perisferico.index') }}"><button>ir a perisfericos</button></a>
    </div>
    <div class="colum1">
        <a href="{{ url_for('registro.index') }}"><button>ir a Registros</button></a>
    </div>
    <div class="colum1">
        <a href="{{ url_for('vigilante.index') }}"><button>ir a Vigilantes</button></a>
    </div>

</body>
</html>