<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">
    <title>Agregar usuario</title>
</head>
<body>
    <h1>Agregar usuario</h1>
    <form action="{{ url_for('usuario.add') }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <select name="tipousuario" id="tipousuario">
            {% for tipo in tipos %}
                <option value="{{ tipo.idTipoUsuario }}" >{{ tipo.descripcion }}</option>
            {% endfor %}
        </select>
        <select name="computador" id="computador">
            {% for computador in computadores %}
                <option value="{{ computador.idComputador }}" >{{ computador.marca }}</option>
            {% endfor %}
        </select>
 
        <button type="submit">Agregar usuario</button>
    </form>
</body>